@import "tailwindcss";

.wrapper{
    width:100%;
    height:fit-content;
    background-image: url('./assets/images/pattern-bg-desktop.png');    
    @apply bg-emerald-900 flex flex-col items-center gap-5;
}
.title{
    @apply text-center text-white text-xl font-semibold mt-5
}
.search{
    width: fit-content;
    height: 30px;
    @apply flex 
}
.search input{
    @apply w-[350px] flex items-center bg-white rounded-l-lg placeholder:text-[10px] placeholder:font-semibold outline-0 px-5 text-sm 

}
.search button{
    @apply w-[35px] bg-black grid place-content-center rounded-r-lg hover:cursor-pointer hover:bg-gray-800
}
.info{
    column-rule: 1px solid black;
    @apply columns-4 gap-4 relative top-10 z-10 bg-white p-7 rounded-2xl font-bold
}
.info p {
    @apply text-[7px] text-gray-500
}

#map{
    height: 70vh;
}